<h1> Ce code permet de récupérer l'indice de Gini et la Population des Pays </h1>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
indice_gini = pd.read_excel("WIID3.4_19JAN2017New.xlsx")

indice_gini.head()

,Country,Countrycode3,Countrycode2,Year,Population,Incomegroup,Mean,Median,Gini,Source,...,Welfaredefn_new,Equivsc_new,AgeCovr_new,AreaCovr_new,PopCovr_new,IncSharU_new,UofAnala_new,Exchangerate,Mean_usd,Median_usd
0,Afghanistan,AFG,AF,2007,26.911530,Low income,36588.00,NaN,29.00,National Risk and Vulnerability Assessment,...,Consumption,Household per capita,All,All,All,Household,Person,49.962018,732.320007,NaN
1,Afghanistan,AFG,AF,2008,27.658890,Low income,NaN,NaN,27.80,World Bank,...,Other,NaN,All,All,All,NaN,NaN,NaN,NaN,NaN
2,Albania,ALB,AL,1996,3.092034,Upper middle income,58192.80,NaN,28.00,"Deininger & Squire, World Bank 2004",...,Consumption,Household per capita,All,Other,All,Household,Person,104.498917,556.869995,NaN
3,Albania,ALB,AL,2002,3.123112,Upper middle income,2256.96,1861.68,31.74,World Bank 2016,...,Consumption,Household per capita,All,All,All,Household,Person,1.000000,NaN,NaN
4,Albania,ALB,AL,2005,3.082172,Upper middle income,2605.92,2217.48,30.60,World Bank 2016,...,Consumption,Household per capita,All,All,All,Household,Person,1.000000,NaN,NaN

In [13]:
gini = indice_gini[['Country', 'Countrycode3', 'Year', 'Gini']]
pop = indice_gini[['Country', 'Countrycode3', 'Year', 'Population', 'PopCovr_new']]

gini.to_csv("gini.csv")
pop.to_csv("pop.csv")